<div class="page-header">
  <h1>Try out Slack Integration</h1>
</div>

<div class="jumbotron">
  <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary' %>
  <%= link_to 'Log in', new_user_session_path, class: 'btn btn-primary' %>
</div>
